#addIcon {
    font-size: x-large !important;
}

#questionIcon {
    font-size: large !important;
}

.container {
    width: 100%;
    height: auto;
	float: left;
}

.inline {
	float:left; 
}

.brand-logo {
	padding-left: 1em !important;
}

#drag-drop {
    padding: 10px;
    border: 2px dashed #bbb;
    background-color: #eee;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 18px;
}

#drag-drop {
    margin-bottom: 0.5rem;
}


#drag-drop2 {
    padding: 10px;
    border: 2px dashed #bbb;
    background-color: #eee;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 18px;
}

#drag-drop2 {
    margin-bottom: 0.5rem;
}

.input-holder {
    height:auto;
    width: 25rem;
    padding: 1rem;
    clear: both;
    display: none;
    margin-top: 5rem;
    border: 1px solid #cfd8dc;
    border-radius: 0.5rem;
}

#cancelConnection {
    margin-top: 1rem;
}

.abeceda {
    display: flex;
    justify-content: center;
    align-items: center;
}

#account {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

.hidden-element {
    display: none;
}

.divFiles {
	height: auto;
	width: fit-content;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding:1em;
	overflow: hidden;
	margin-top: 5rem;
	margin-left: 3em;
}

.driveFileHolder {
	float:left;
	height: 8em;
	width:8em;
	border: 2px dotted #bbb;
	border-radius: 10px;
	text-align: center;
	line-height: 8em;
	margin-right: 1em;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.driveFileHolder h3{
	position: relative;
	font-size: medium;
	top: 40px;
}

.driveFileHolder p{
	font-size: small;
}

.downloadHover:hover {
	cursor:pointer;
	background-color: #d1cfcf;
}

#dropdown1 li a {
	color: #757575;
}

.welcome-message {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	color: #757575;
}

/* chat */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*,*::before,*::after {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
  margin: 0;
}

ul[role='list'],ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,button,textarea,select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,*::before,*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
	--blue: #335DFF;
	--grey: #F5F5F5;
	--grey-d-1: #EEE;
	--grey-d-2: #DDD;
	--grey-d-3: #888;
	--white: #FFF;
	--dark: #222;
    --red: #f53c39;
}

.chatbox-wrapper {
    display: none;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
}

.chatbox-toggle {
	width: 100%;
	height: 100%;
	background: var(--red);
	color: var(--white);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
    opacity: 0.7;
	transition: .2s;
}

.chatbox-toggle:active {
	transform: scale(.9);
}

.chatbox-toggle:hover {
    opacity: 0.5;
}

.chatbox-message-wrapper {
	position: absolute;
	bottom: calc(100% + 1rem);
	right: 0;
	width: 420px;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: 0 0 .15rem var(--dark);	
	transform: scale(0);
	transform-origin: bottom right;
	transition: .2s;
}

.chatbox-message-wrapper.show {
	transform: scale(1);
}

.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: .75rem 1.5rem;
}

.chatbox-message-dropdown {
    right: 0;
    position: absolute;
}

.chatbox-message-dropdown-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	cursor: pointer;
	border-radius: 50%;
}

.chatbox-message-dropdown-toggle:hover {
	background: var(--grey);
}

.chatbox-message-dropdown-menu {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--white);
	padding: .5rem 0;
	width: 120px;
	box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .1);
	transform: scale(0);
	transform-origin: top right;
	transition: .2s;
	border-radius: .5rem;
}

.chatbox-message-dropdown-menu.show {
	transform: scale(1);
}

.chatbox-message-dropdown-menu a {
	font-size: .875rem;
	font-weight: 500;
	color: var(--dark);
	text-decoration: none;
	padding: .5rem 1rem;
	display: block;
}

.chatbox-message-dropdown-menu a:hover {
	background: var(--grey);
}

.chatbox-message-content {
	background: var(--grey);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-row-gap: 1rem;
	max-height: 300px;
	overflow-y: auto;
}

.chatbox-message-item {
	width: 90%;
	padding: 1rem;
}

.chatbox-message-item.sent {
	align-self: flex-end;
	background: var(--dark);
	color: var(--white);
	border-radius: .75rem 0 .75rem .75rem;
}

.chatbox-message-item.received {
	background: var(--white);
	border-radius: 0 .75rem .75rem .75rem;
	box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
}

.chatbox-message-item-time {
	font-size: .75rem;
	margin-top: .5rem;
	display: inline-block;
}

.chatbox-message-bottom {
	background: var(--white);
	padding: .75rem 1.5rem;
}

.chatbox-message-form {
	display: flex;
	align-items: center;
	background: var(--grey);
	border-radius: .5rem;
	padding: .5rem 1.25rem;
}

.chatbox-message-input {
	background: transparent;
	outline: none;
	border: none;
	resize: none;
	scrollbar-width: none;
}

.chatbox-message-input::-webkit-scrollbar {
	display: none;
}

.chatbox-message-submit {
	font-size: 1.25rem;
	color: var(--dark);
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.chatbox-message-submit:active {
    background-color: inherit !important;
}

.chatbox-message-submit:focus {
    background-color: initial !important;
}

.chatbox-message-no-message {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
}

@media screen and (max-width: 576px) {
	.chatbox-message-wrapper {
		width: calc(100vw - 2rem);
	}
	.chatbox-wrapper {
		bottom: 1rem;
		right: 1rem;
	}
}
